# 변수 [코드 2-1]

### 화면에 Hello 라는 글자 출력하기

print는 화면에 글자를 출력하는 기능을 가진 함수이다. 출력할 내용을 `( )` 괄호 속에 넣어주면 된다.

In [0]:
print('Hello')

Hello

### greeting 변수의 내용을 화면에 문자 출력하기

문자를 greeting 이라는 이름의 변수에 담아둔다. print 함수에 문자를 직접적으로 넣어주는것 대신에 문자를 담고 있는 greeting 변수를 넣어줄 수도 있다.

In [0]:
greeting = 'Hello Python from String!'
print(greeting)

Hello Python from String!

# for 반복문 [코드 2-3]

### 숫자 범위 0~2를 순차적으로 접근

range `(x, y)` x ~ y 범위를 입력받는 함수이다. 이 때 y는 포함되지 않으며, x, ..., y-1 까지가 범위의 대상이다. 아래의 코드는 그 범위의 숫자를 순차적으로 하나씩 접근하여 index 라는 임시 변수에 담아둔다.

for 반복문 안쪽에 위치한 코드는 이 index 라는 변수를 활용해서 작업하는것이 가능하다.

In [0]:
for index in range(0, 3):
  print(index)

0
1
2

### 리스트의 각 요소에 대한 접근

range(0, 3) 함수가 만들어내는것은 결국 [0, 1, 2] 라는 리스트이다. 따라서, ['Tom', 'John']과 같이 직접적으로 리스트를 만들어 줘도 되며, 이 때는 숫자 외의 어떠한 값도 넣어줄 수 있다.

In [0]:
for name in ['Tom', 'John']:
  print(name)

Tom
John

### 문자열의 각 요소에 대한 접근

for 반복문에 문자열을 넣어주면, 해당 문자열을 구성하는 각 문자 요소에 대한 접근도 가능하다.

In [0]:
for letter in 'Python':
  print(letter)

P
y
t
h
o
n

# 자료형 [코드 2-4 ~ 17]

## 정수 자료형 [코드 2-4]

In [0]:
# 정수 자료형의 값
age = 34
temperature = -1
balance = 0

# type 함수로 정수 자료형임을 확인
print(type(age))
print(type(temperature))
print(type(balance))

<class 'int'>
<class 'int'>
<class 'int'>

## 부동소수 자료형 [코드 2-5]

In [0]:
# 정수 및 부동소수 자료형의 값
age = 34
temperature = -10.3
balance = 0.0

# type 함수로 정수 및 부동소수 자료형임을 확인
print(type(age))
print(type(temperature))
print(type(balance))

<class 'int'>
<class 'float'>
<class 'float'>

### 숫자 연산자 [코드 2-6]

In [0]:
# 1부터 10까지의 숫자를 하나씩 반복문으로 접근
for i in range(1, 11):

  # 숫자를 5로 나누었을 때, 나머지가 0인 경우
  if i % 5 == 0:
    print(i)

5
10

## 리스트 자료형 [코드 2-7 ~ 8]

In [0]:
# 정수, 문자열로 구성된 리스트 및 혼합된 리스트
nums = [1,2,3,4,5]
names = ['Tom', 'John', 'Jerry', 'Lucy', 'Jane']
mixed = ['Tom', 24, 2.24, True]

print(names[1])

John

In [0]:
# 문자열로 구성된 리스트
names = ['Tom', 'John', 'Jerry', 'Lucy', 'Jane']

for name in names:
  print(name)

Tom
John
Jerry
Lucy
Jane

## 문자열 자료형 [코드 2-9 ~ 10]

In [0]:
# 문자열 자료형 변수
greeting = 'Hello Python!'

# type 함수로 문자열 자료형임을 확인
print(type(greeting))

# 문자열의 7번째 문자를 출력
print(greeting[6])

# 문자열을 구성하는 개별 문자의 자료형을 확인
print(type(greeting[6]))

<class 'str'>
P
<class 'str'>

In [0]:
# 문자열 자료형 변수
f_letter = 'H'
s_letter = 'i'
name = 'Python!'

# 각 문자열 값을 이어 붙
greeting = f_letter + s_letter + ' ' + name
print(greeting)

Hi Python!

## 불리언 자료형 [코드 2-11 ~ 12]

In [0]:
# 불리언 자료형 변수
is_weekend = True
is_empty = False

# 불리언 값 간의 and, or 연산
print(is_weekend and is_empty)
print(is_weekend or is_empty)

# 불리언 값에 not 연산
print(not is_weekend)

False
True
False

In [0]:
# 정수형 값 두 개를 선언
tom_age = 34
jerry_age = 40

# 정수형 값 비교로 얻은 불리언 
is_tom_older = tom_age > jerry_age
print(is_tom_older)

False

## 딕셔너리 자료형 [코드 2-13 ~ 17]

In [0]:
# 딕셔너리 자료형 변수 선언
person1 = {
    "name": "박찬성",
    "age": 35,
    "sex": "남",
    "married": True
}

person2 = {
    "name": "Lucy 최",
    "age": 34,
    "sex": "여",
    "married": True
}

person3 = {
    "name": "박다경",
    "age": 1,
    "sex": "여",
    "married": False
}

# 중첩된 딕셔너리 자료형 변수 선언
family = {
    "아빠": person1,
    "엄마": person2,
    "딸": person3
}

In [0]:
# 딕셔너리 변수에 담긴 '아빠'라는 키에 매핑된 값을 출력
print(family["아빠"])

# 딕셔너리 변수에 담긴 '아빠'라는 키에 매핑된 값(딕셔너리)로부터
# 'name' 이라는 키에 매핑된 값을 출력
print(family["아빠"]["name"])

# family 딕셔너리의 모든 키를 순회하여 방문
for member in family:
  print(member + ': ' + str(family[member]))

{'name': '가상의 언니', 'age': 5, 'sex': '여', 'married': False}
가상의 언니
아빠: {'name': '가상의 언니', 'age': 5, 'sex': '여', 'married': False}
엄마: {'name': 'Lucy 최', 'age': 34, 'sex': '여', 'married': True}
딸: {'name': '박다경', 'age': 1, 'sex': '여', 'married': False}
언니: {'name': '가상의 언니', 'age': 5, 'sex': '여', 'married': False}

In [0]:
# 딕셔너리에 특정 키가 존재하는지 체크
print("아빠" in family)
print("언니" in family)

True
True

In [0]:
# 새로운 딕셔너리형 변수인 person4를 정의
person4 = {
    "name": "가상의 언니",
    "age": 5,
    "sex": "여",
    "married": False
}

# 기존 family 딕셔너리에 새로운 키인 "언니"를 추가하고
# 매핑된 값으로 person4를 대입
family["언니"] = person4
print(family["언니"])

# 기존에 존재하는 키인 "아빠"에 새로운 값을 매핑
family["아빠"] = person4
print(family["아빠"])

{'name': '가상의 언니', 'age': 5, 'sex': '여', 'married': False}
{'name': '가상의 언니', 'age': 5, 'sex': '여', 'married': False}

In [0]:
# "아빠"라는 키와 매핑된 값을 family 딕셔너리로부터 삭제
del family["아빠"]

# 삭제된 결과 확인
for member in family:
  print(member + ': ' + str(family[member]))

엄마: {'name': 'Lucy 최', 'age': 34, 'sex': '여', 'married': True}
딸: {'name': '박다경', 'age': 1, 'sex': '여', 'married': False}
언니: {'name': '가상의 언니', 'age': 5, 'sex': '여', 'married': False}

# 함수의 정의

In [0]:
def tax_included_by_country(country):
  if country is 'US':
    return True 
  
  return False

In [0]:
def get_tax_by_country(country):
  if country is 'US':
    return 
  
  return 0

In [0]:
# 세금을 고려한 청구비용 계산
def bill_calc(country, prices):
  is_tax_included = tax_included_by_country(country)
  tax_rate = 0  

  if (is_tax_included is True):
    tax_rate = get_tax_by_country(country)
  
  total = sum(prices)
  tax = total * tax_rate / 100
  bill = total + tax
  
  return bill

In [0]:
# 세금을 고려한 청구비용 계산 테스트
list_prices = [ [10.5, 8, 7.5], [5.5, 7.5, 20, 10.5] ]
total_sum = 0

for prices in list_prices:
  total_sum += bill_calc('US', prices)

print(total_sum)

90.35

# 사용자 정의 자료형

In [0]:
# 사람을 나타내는 클래스의 정의
class Person:
  # 생성자 메서드 정의
  def __init__(self, name, birthday, id):
    self.name, self.birthday, self.id = name, birthday, id
    
  # 객체를 문자열로 표현하는 __str__ 메서드 정의
  def __str__(self):
    return "이름: " + self.name + ", 생일:" + self.birthday + ", 아이디:" + self.id

  # 리스트에서 객체를 문자열로 표현하는 __repr__ 메서드 정의
  def __repr__(self):
    return "이름: " + self.name + ", 생일:" + self.birthday + ", 아이디:" + self.id

In [0]:
# Person 클래스를 상속하는 Employee 클래스의 정의
class Employee(Person):
  # 생성자 메서드 정의
  def __init__(self, name, birthday, id, salary, career_year):
    # Person 클래스의 생성자 호출
    super().__init__(name, birthday, id)
    self.salary, self.career_year = salary, career_year
    
  # 객체를 문자열로 표현하는 __str__ 메서드 정의
  def __str__(self):
    return super().__str__() + ", 연봉: " + str(self.salary) + ", 경력 연차: " + str(self.career_year)
    
  # 리스트에서 객체를 문자열로 표현하는 __repl__ 메서드 정의
  def __repr__(self):
    return super().__repr__() + ", 연봉: " + str(self.salary) + ", 경력 연차: " + str(self.career_year)

# 키보드 입력

In [0]:
name = input("이름:" )

이름:박찬성

In [0]:
age = input("나이: ")

나이: 33

In [0]:
print("이름: " + name + ", 나이: " + age)

이름: 박찬성, 나이: 33

# 파일 입출력

In [0]:
# resume.txt 파일을 텍스트 쓰기 모드로 연다
text_file = open('resume.txt', mode='w')

# "신상정보" 라는 문자열과 마지막에 개행 문자인 "\n"를 파일로 출력한다
text_file.write('신상정보\n')

# 세 개의 문자열 행을 일괄적으로 파일로 출력
text_file.writelines(['이름: 박찬성\n', '나이: 35\n', '직업: 소프트웨어 엔지니어\n'])

# 네 개의 문자열 행 정보를 담는 리스트를 생성
texts = ['주소: 세종특별자치시\n', '학력: 대졸\n', '전문 분야: 컴퓨터 네트워킹, 머신러닝\n ', '프로그래밍 스킬: C/C++,JAVA,Python,Go,TensorFlow,PyTorch\n']

# 리스트에 담긴 문자열을 for 반복문으로, 하나씩 방문하여 각각을 파일로 출력
for text in texts:
  text_file.write(text)

# 파일을 열고, 작업을 다 하고 나면 반드시 닫아 줘야 함
text_file.close()

In [0]:
# resume.txt 파일을 텍스트 읽기 모드로 연다
text_file = open('resume.txt', mode='r')

# 파일의 각 행을 담아 두기 위한 리스트 생성
texts = []

# 파일의 끝에 도달할 때까지 무한정 반복을 수행
while True:
  # 반복문을 돌 때마다 파일로부터 한 행의 정보를 읽어 옴
  text = text_file.readline()

  # 읽어 온 내용이 어떠한 문자도 포함하지 않는 경우, 파일의 끝이라 판단
  if text == '':
    break
  # 그렇지 않은 경우, 읽어 온 내용을 리스트에 추가
  else:
    texts.append(text)

text_file.close()
print(texts)

['신상정보\n', '이름: 박찬성\n', '나이: 35\n', '직업: 소프트웨어 엔지니어\n', '주소: 세종특별자치시\n', '학력: 대졸\n', '전문 분야: 컴퓨터 네트워킹, 머신러닝\n', ' 프로그래밍 스킬: C/C++,JAVA,Python,Go,TensorFlow,PyTorch\n']

In [0]:
text_file = open('resume.txt', mode='r')

texts = []

# for … in 문법으로, 파일의 끝이 어딘지 검사할 필요가 없음
for line in text_file:
  texts.append(line)

text_file.close()
print(texts)

['신상정보\n', '이름: 박찬성\n', '나이: 35\n', '직업: 소프트웨어 엔지니어\n', '주소: 세종특별자치시\n', '학력: 대졸\n', '전문 분야: 컴퓨터 네트워킹, 머신러닝\n', ' 프로그래밍 스킬: C/C++,JAVA,Python,Go,TensorFlow,PyTorch\n']

## 바이너리 파일

In [0]:
# struct 패키지 불러오기
import struct

# binary_file 파일을 바이너리(b) 쓰기(w) 모드로 연다
b_file = open('binary_file', mode='wb')

# 파일에 출력할 다양한 데이터를 선언
title = '바이너리 파일'
data1 = 100
data2 = 11.11
data3 = True

# 데이터를 바이너리 파일에 쓰기 위한 형태로 변환 후 출력
# 문자열은 encode, 나머지는 struct.pack을 사용 가능
b_file.write(title.encode())
b_file.write(struct.pack('i', data1))
b_file.write(struct.pack('f', data2))
b_file.write(struct.pack('?', data3))
b_file.close()

In [0]:
# struct 패키지 불러오기
import struct

# binary_file을 바이너리 읽기 모드로 연다
b_file = open('binary_file', mode='rb')
b_title = b_file.read(19)
b_data1 = b_file.read(4)
b_data2 = b_file.read(4)
b_data3 = b_file.read(1)
b_file.close()

# 읽힌 데이터는 바이너리(bytes) 형태로, 이를 각 데이터형에 맞게 변환
# 문자열은 decode, 나머지는 struct.unpack을 활용 가능
print(b_title.decode())
print(struct.unpack('i', b_data1))
print(struct.unpack('f', b_data2))
print(struct.unpack('?', b_data3))

바이너리 파일
(100,)
(11.109999656677246,)
(True,)

## with 구문

In [0]:
texts = []

# with 구문을 사용하여 열린 파일이 사용될 범위를 한정 짓는다
with open('resume.txt', mode='r') as file:
  for line in file:
    texts.append(line)

print(texts)

['신상정보\n', '이름: 박찬성\n', '나이: 35\n', '직업: 소프트웨어 엔지니어\n', '주소: 세종특별자치시\n', '학력: 대졸\n', '전문 분야: 컴퓨터 네트워킹, 머신러닝\n', ' 프로그래밍 스킬: C/C++,JAVA,Python,Go,TensorFlow,PyTorch\n']

## pickle

In [0]:
# Pickle 라이브러리를 불러온다
import pickle

emp1 = Employee("박찬성", "851223", "1", 3000, 7)
emp2 = Employee("김제리", "890511", "2", 5000, 2)
emps = [Employee("서은교", "891111", "3", 4000, 5), Employee("김태균", "860543", "4", 3500, 7)]

# 하나의 Employee 객체를 파일로 저장
with open('bin_emp1.pkl', 'wb') as file:
  pickle.dump(emp1, file)

# 두 개의 Employee 객체를 연속적으로 파일로 저장
with open('bin_emp1_emp2.pkl', 'wb') as file:
  pickle.dump(emp1, file)
  pickle.dump(emp2, file)

# 여러 Employee 객체를 포함한 리스트를 파일로 저장
with open('bin_emps.pkl', 'wb') as file:
  pickle.dump(emps, file)

In [0]:
import pickle

# bin_emp1.pkl 파일을 불러온다
with open('bin_emp1.pkl', mode='rb') as file:
  object1 = pickle.load(file)

print(object1)

이름: 박찬성, 생일:851223, 아이디:1, 연봉: 3000, 경력 연차: 7

In [0]:
# bin_emp1_emp2.pkl 파일을 불러온다
with open('bin_emp1_emp2.pkl', 'rb') as file:
  object1 = pickle.load(file)
  object2 = pickle.load(file)

print(object1)
print(object2)

이름: 박찬성, 생일:851223, 아이디:1, 연봉: 3000, 경력 연차: 7
이름: 김제리, 생일:890511, 아이디:2, 연봉: 5000, 경력 연차: 2

In [0]:
# bin_emps.pkl 파일을 불러온다
with open('bin_emps.pkl', 'rb') as file:
  objects = pickle.load(file)

print(len(objects))
print(objects)
print(objects[0])
print(objects[1])

2
[이름: 서은교, 생일:891111, 아이디:3, 연봉: 4000, 경력 연차: 5, 이름: 김태균, 생일:860543, 아이디:4, 연봉: 3500, 경력 연차: 7]
이름: 서은교, 생일:891111, 아이디:3, 연봉: 4000, 경력 연차: 5
이름: 김태균, 생일:860543, 아이디:4, 연봉: 3500, 경력 연차: 7